<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Defining the Department bean -->
	<bean id="department1" class="com.yaksha.assignment.Department">
		<constructor-arg value="IT Department" />
	</bean>

	<!-- Defining the Address bean -->
	<bean id="address1" class="com.yaksha.assignment.Address">
		<constructor-arg value="1234 Elm Street" />
		<constructor-arg value="New York" />
	</bean>

	<!-- Defining the Employee bean with constructor dependency injection -->
	<bean id="employee1" class="com.yaksha.assignment.Employee">
		<constructor-arg value="E123" />
		<constructor-arg value="John Doe" />
		<constructor-arg ref="department1" />
		<constructor-arg ref="address1" />
	</bean>

</beans>
